* {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    text-align: center;
    background-color: rgb(11, 11, 11);
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}


/* #header_d2 {
    display: flex;
    text-align: right-top;
    size: 50px;
} */

#m1 {
    height: 400px;
    border: 1px;
    background-color: rgb(107, 7, 7);
    text-align: center;
    font-size: larger;
    font-weight: 100px;
    padding-top: 300px;
    background-image: url(AJGhadge.jpg);
    background-size: cover;
}

#a1 {
    text-decoration: overline;
    text-decoration: underline;
}

#m2 {
    height: 600px;
    background-color: white;
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin-left: 0%; */
}

#B1 {
    height: 600PX;
    width: 450PX;
    background-image: url(naturalAPEKSHA.jpg);
    background-size: cover;
    display: inline-block;
}

#B2 {
    height: 400PX;
    width: 650PX;
    /* background-color: rgb(125, 112, 112); */
    display: inline-block;
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

button {
    width: 100px;
    height: 40px;
    background-color: red;
    margin-bottom: 0%;
    margin-left: 0%;
}

#m3 {
    height: 600px;
    background-color: rgb(230, 227, 218);
    text-align: center;
}

#c1 {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-top: 160px;
    background-image: url(design.jpg);
    background-size: cover;
}

#c2 {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-image: url(devlapment.jpg);
    background-size: cover;
}

#c3 {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-image: url(testing.jpg);
    background-size: cover;
}

#c4 {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-image: url(launch.jpg);
    background-size: cover;
}

#m4 {
    height: 600px;
    background-color: rgb(204, 186, 84);
    background-image: url(librare.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#D1 {
    height: 400PX;
    width: 450PX;
    display: inline-block;
    margin-top: 100px;
    /* background-color: rgb(178, 215, 216); */
    /* margin-left: 320px; */
    background: transparent;
    border: 1px solid #bdb6b6;
    font-size: larger;
}

#D1::before {
    content: '';
    height: 400px;
    width: 450px;
    position: absolute;
    /* background: rgba(0, 0, 0, .5); */
    background: rgba(245, 221, 202, 0.2);
}

#D2 {
    height: 400PX;
    width: 450PX;
    margin-top: 100PX;
    display: inline-block;
    /* background-color: rgb(178, 215, 216); */
    background: transparent;
    border: 1px solid #6f6666;
    font-size: larger;
    /* color: #fff; */
}

#D2::before {
    content: '';
    height: 400px;
    width: 450px;
    position: absolute;
    background: rgba(245, 221, 202, 0.2);
}

#m5 {
    height: 600px;
    background-color: rgb(230, 218, 185);
    /* display: flex; */
    /*justify-content: center;
    align-items: center;
    /* margin-top: 100px;
    justify-content: space-between; */
    /* margin-top: 150px;
    margin-left: 200px; */
    /* padding-top: 250px; */
    margin-top: 300;
    /* padding-left: 350px;*/
    /* margin-right: 350px; */
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#E1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    margin-left: 350px;
    background-image: url(projects.jpg);
    background-size: cover;
}

#E2 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    background-image: url(softskill.jpg);
    background-size: cover;
}

#E3 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    background-image: url(sports.jpg);
    background-size: cover;
}

#E4 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    background-image: url(tracking.jpg);
    background-size: cover;
}

#E5 {
    height: 200px;
    width: 400px;
    background-color: aqua;
    display: inline-block;
    margin-left: 350px;
    background-image: url(yoga_and_meditetion.jpg);
    background-size: cover;
}

#E6 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    background-image: url(timework.jpg);
    background-size: cover;
}

#E7 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    background-image: url(inovetion.jpg);
    background-size: cover;
}

#m6 {
    height: 600px;
    background-color: rgba(150, 156, 161, 0.495);
    /* background-image: url(APPPPI.jpg);
    background-size: cover; */
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#F1 {
    height: 500px;
    width: 500px;
    display: inline-block;
}

#FF1 {
    margin-top: 150px;
}

#F2 {
    height: 500px;
    width: 500PX;
    background-image: url(apeksha.jpg);
    background-size: cover;
    display: inline-block;
    margin-right: 0%;
}

#m7 {
    height: 600px;
    background-color: rgb(106, 73, 73);
    background-image: url(college.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

#G1 {
    height: 400px;
    width: 450px;
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    margin-left: 50px;
}

#G1::before {
    content: '';
    height: 400px;
    width: 450px;
    /* position: absolute; */
    background: rgba(245, 221, 202, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

label {
    grid-column: span 2;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    grid-column: span 2;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ab620e;
}

input[type="submit"] {
    width: 200px;
}

#G2 {
    height: 400px;
    width: 450px;
    background: transparent;
    border: 1px solid #fff;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

#G2::before {
    content: '';
    height: 400px;
    width: 450px;
    position: absolute;
    background: rgba(245, 221, 202, 0.2);
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(226, 195, 195);
    border: 1px;
    /* position: fixed; */
    bottom: 0;
}